<!DOCTYPE html>
<!-- Topbar Start -->

@{
     var user = Model;
}
<div class="navbar-custom">
     <div class="container-fluid">
          <ul class="list-unstyled topnav-menu float-right mb-0">

               <li class="dropdown notification-list">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle nav-link">
                         <div class="lines">
                              <span></span>
                              <span></span>
                              <span></span>
                         </div>
                    </a>
                    <!-- End mobile menu toggle-->
               </li>

               <li class="d-none d-sm-block">
                    <form class="app-search">
                         <div class="app-search-box">
                              <div class="input-group">
                                   <input type="text" class="form-control" placeholder="Search...">
                                   <div class="input-group-append">
                                        <button class="btn" type="submit">
                                             <i class="fe-search"></i>
                                        </button>
                                   </div>
                              </div>
                         </div>
                    </form>
               </li>

               <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" href="/Cart/Shopping">
                         <img src="~/Templaid/css/shopping-cart.png" alt="Imagine" class="noti-icon-img">
                    </a>
               </li>

               <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="" role="button" aria-haspopup="false" aria-expanded="false">

                         <span class="pro-user-name ml-1">
                              @(user.Username)
                              <i class="mdi mdi-chevron-down"></i>
                         </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                         <!-- item-->
                         <div class="dropdown-header noti-title">
                              <h6 class="text-overflow m-0">Bun Venit</h6>
                         </div>

                         <!-- item-->
                         <a href="/Home/UserProfile" class="dropdown-item notify-item">
                              <i class="remixicon-account-circle-line"></i>
                              <span>My Account</span>
                         </a>
                         <!-- item-->
                         @if (user.Level == WebAplication.Domains.Entities.User.URole.Admin)
                         {
                              <a href="/Home/ListClient" class="dropdown-item notify-item">
                                   <img src="~/Templaid/css/list-16.png" style="width: 15px; height: 15px; margin-right: 5px;">
                                   <span>List Client</span>
                              </a>
                         }
                              <!-- item-->
                              <form id="logoutForm" action="@Url.Action("LogoutAction", "Home")" method="post">
                                   <a href="javascript:void(0);" class="dropdown-item notify-item" onclick="document.getElementById('logoutForm').submit();">
                                        <i class="remixicon-logout-box-line"></i>
                                        <span>Logout</span>
                                   </a>
                              </form>

                         </div>
               </li>



          </ul>

          <!-- LOGO -->
          <div class="logo-box">
               <a href="index.html" class="logo text-center">
                    <span class="logo-lg">
                         <img src="assets/images/logo-light.png" alt="" height="20">
                         <!-- <span class="logo-lg-text-light">Xeria</span> -->
                    </span>
                    <span class="logo-sm">
                         <!-- <span class="logo-sm-text-dark">X</span> -->
                         <img src="assets/images/logo-sm.png" alt="" height="24">
                    </span>
               </a>
          </div>




          <ul class="navigation-menu in" style=" display: flex;">


               @if (user.Level == WebAplication.Domains.Entities.User.URole.Admin)
               {
                    <li class="has-submenu active" style="display: block;">
                         <a href="#" class="active">
                              <i class="remixicon-dashboard-line"></i>Dashboards <div class="arrow-down" bis_skin_checked="1"></div>
                         </a>
                         <ul class="submenu in">
                              <li class="active">
                                   <a href="/" class="active">Dashboard1</a>
                              </li>
                              <li>
                                   <a href="/Home/Dashboard2">Dashboard2</a>
                              </li>
                         </ul>
                    </li>
               }
               <li class="has-submenu">
                    <a href="#">
                         <img src="~/Templaid/css/bussiness-man.png" alt="Imagine" /><span style="color: white;">Man</span> <div class="arrow-down" bis_skin_checked="1" style="color: white;"></div>
                    </a>
                    <ul class="submenu">
                         <li class="has-submenu">
                              <a href="#">Casual shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Sneakers"})">Sneakers</a>
                                   </li>
                                 
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Slip-on"})">Slip-on</a>
                                   </li>

                              </ul>
                         </li>

                         <li class="has-submenu">
                              <a href="#">Running shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Asphalt"})">Asphalt</a>
                                   </li>
                                  
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Trail"})">Trail</a>
                                   </li>

                              </ul>
                         </li>
                         <li class="has-submenu">
                              <a href="#">Gym shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Basket-ball"})">Basket-ball</a>
                                   </li>
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Volley-ball"})">Volley-ball</a>
                                   </li>
                                  

                              </ul>
                         </li>
                         <li>
                              <a href="@Url.Action("Sort", "Home", new {subcategori = "Hiking_shoes"})">Hiking shoes</a>
                         </li>
                                                                                                                  
                    </ul>
               </li>

               <li class="has-submenu">
                    <a href="#"> <img src="~/Templaid/css/woman.png" alt="Imagine" /><span style="color: white;"> Women</span><div class="arrow-down" bis_skin_checked="1" style="color: white;"></div></a>
                    <ul class="submenu">
                         <li class="has-submenu">
                              <a href="#">Casual shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu" style="position: absolute; top: 0; left: 100%;">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Sneakers"})">Sneakers</a>
                                   </li>

                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Slip-on"})">Slip-on</a>
                                   </li>

                              </ul>
                         </li>

                         <li class="has-submenu">
                              <a href="#">Running shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu" style="position: absolute; top: 0; left: 100%; ">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Asphalt"})">Asphalt</a>
                                   </li>
                                  
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Trail"})">Trail</a>
                                   </li>

                              </ul>
                         </li>
                         <li class="has-submenu">
                              <a href="#">Gym shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu" style="position: absolute; top: 0; left: 100%; ">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Basket-ball"})">Basket-ball</a>
                                   </li>
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Volley-ball"})">Volley-ball</a>
                                   </li>                                 

                              </ul>
                         </li>
                         <li>
                              <a href="@Url.Action("Sort", "Home", new {subcategori = "Hiking_shoes"})">Hiking shoes</a>
                         </li>                        

                    </ul>
               </li>

               <li class="has-submenu">
                    <a href="#"><img src="~/Templaid/css/baby-boy.png" alt="Imagine" /><span style="color: white;">Kids</span><div class="arrow-down" bis_skin_checked="1" style=" color: white;"></div></a>
                    <ul class="submenu">
                         <li class="has-submenu">
                              <a href="#">Casual shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu" style="position: absolute; top: 0; left: 100%;">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Sneakers"})">Sneakers</a>
                                   </li>

                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Slip-on"})">Slip-on</a>
                                   </li>

                              </ul>
                         </li>

                         <li class="has-submenu">
                              <a href="#">Running shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu" style="position: absolute; top: 0; left: 100%;">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Asphalt"})">Asphalt</a>
                                   </li>
                                   
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Trail"})">Trail</a>
                                   </li>

                              </ul>
                         </li>
                         <li class="has-submenu">
                              <a href="#">Gym shoes <div class="arrow-down" bis_skin_checked="1"></div></a>
                              <ul class="submenu" style="position: absolute; top: 0; left: 100%;">
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Basket-ball"})">Basket-ball</a>
                                   </li>
                                   <li>
                                        <a href="@Url.Action("Sort", "Home", new {subcategori = "Volley-ball"})">Volley-ball</a>
                                   </li>
                                  
                              </ul>
                         </li>
                         <li>
                              <a href="@Url.Action("Sort", "Home", new {subcategori = "Hiking_shoes"})">Hiking shoes</a>
                         </li>


                    </ul>
               </li>




               <div class="clearfix"></div>
     </div>
</div>
<!-- end Topbar -->
