@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <title>Minton - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
     <meta content="Coderthemes" name="author" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <!-- App favicon -->
     <link rel="shortcut icon" href="assets?images/favicon.ico">

     <!-- App css -->
     <!-- <link href="~/Templaid/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="~/Templaid/css/icons.min.css" rel="stylesheet" type="text/css" />
     <link href="~/Templaid/css/app.min.css" rel="stylesheet" type="text/css" />-->

     @Styles.Render("~/bundles/css")
     @Styles.Render("~/bundles/app/css")

     @if (IsSectionDefined("Styles"))
     {
     @RenderSection("Styles", required: false )
     }

</head>

<body>

     <!-- Navigation Bar-->
     <header id="topnav">
          @Html.Partial("_Header")
     </header>

     <div class="wrapper">
          @RenderBody()
     </div>

     <footer class="footer">
          @Html.Partial("_Footer")
     </footer>


     @Scripts.Render("~/vendor/js")

     @Scripts.Render("~/app/js")

     @Scripts.Render("~/index/js")

     @Scripts.Render("~/dashbord/js")

     @Scripts.Render("~/calendar/js")

     @Scripts.Render("~/companies/js")


     @RenderSection("Scripts", required: false)


</body>

</html>