
@{
     ViewBag.Title = "About";
}
@using System.Web.Optimization         
<div class="row">
     <div class="col-md-12">
          <div class="table-responsive d-flex flex-wrap p-2 justify-content-center">
               <div id="resultTarget"></div>
               <table class="table table-bordered">

                    <tbody>
                         @using (Html.BeginForm("Product", "Home", FormMethod.Post, new { autocomplete = "off" }))
                         {
                              var produse = Model.Products as List<WebAplication.Domains.Entities.User.Product>;

                              if (produse != null)
                              {
                                   foreach (var prod in Model.Products)
                                   {

                                        <div class="single-product w-25 m-3">
                                             <div class="img-container">
                                                  <img class="img-fluid img-thumbnail" src="@Url.Content(prod.img)" alt="Responsive image" style="width: 400px; height: 400px">
                                             </div>
                                             <div class="product-details" style="text-align: center">
                                                  <h6>@prod.name</h6>
                                                  <div class="price">
                                                       <h6>@prod.price</h6>
                                                  </div>
                                                  <div class="prd-bottom" style="display: flex; justify-content: space-between; align-items: center;">
                                                       <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" style="flex: 1; text-align: center;">
                                                            <img src="~/Templaid/css/shopping-cart.png" alt="Imagine" class="noti-icon-img" style="display: block; margin-left: auto; margin-right: auto;">
                                                            <span style="display: block;">Add to Cart</span>
                                                       </a>
                                                       <a href="@Url.Action("DeletProduct", "Home", new { productId = prod.id })" class="social-info" style="flex: 1; text-align: center; margin-right: 20px;" onclick="document.getElementById('Deletproduct_@prod.id').submit();">
                                                            <span class="lnr lnr-trash"></span>
                                                            <img src="~/Templaid/css/recycle-bin (1).png" alt="Stergerea produsului" style="width: 20px; height: 20px; display: block; margin-left: auto; margin-right: auto;">
                                                       </a>
                                                       <button style="flex: 1; text-align: center; margin-right: 20px;" class="btn btn-primary btn-xs" name="btn" type="submit" value="@prod.idsneakers">
                                                            View
                                                       </button>
                                                  </div>
                                             </div>
                                        </div>                                     
                                   }
                                   <div class="single-product w-25 m-3">
                                        <form id="logoutForm" action="@Url.Action("AddProduct", "Home")" method="post" enctype="multipart/form-data" style="display: inline;">
                                             <!-- Input pentru încărcarea imaginii -->
                                             <input type="file" name="file" id="file" accept="image/*" style="display: none;">

                                             <!-- Imaginea pe care utilizatorul o poate face clic pentru a încărca o imagine -->
                                             <label for="file">
                                                  <a href="@Url.Action("AddProduct", "Home")">
                                                       <img src="~/Templaid/css/plus.png" alt="Imagine" style="cursor: pointer;">
                                                  </a>
                                             </label>
                                        </form>
                                   </div>
                              }
                         }
                    </tbody>
               </table>




               @section Scripts {
                    @Scripts.Render("~/bundles/unobtrusive/js")

                    <script type="text/javascript">
                         function success(data) {
                              if (data.RedirectUrl) {
                                   window.location.href = data.RedirectUrl;
                              } else {
                                   $("#resultTarget").text(data.msg);
                              }
                         }

                         function fail(data) {
                              $("#resultTarget").text(data);
                         }
                    </script>
               }
               
                    
               
          </div>
     </div>


     </div>
