@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Home";
}

@using System.Web.Optimization

<div class="row">
     <div class="col-md-12">
          <div class="table-responsive d-flex flex-wrap p-2 justify-content-center">
               <div id="resultTarget"></div>
               <table class="table table-bordered">
                    
                    <tbody>
                         @using (Html.BeginForm("Product", "Home", FormMethod.Post, new { autocomplete = "off" }))
                         {
                              var produse = ViewBag.Products as List<WebAplication.Domains.Entities.User.Product>; 

                              if (produse != null)
                              {
                                   foreach (var prod in produse)
                                   {
                                        

                                        <div class="single-product w-25 m-3">
                                             <div class="img-container">
                                                  <img class="img-fluid img-thumbnail" src="@Url.Content(prod.img)" alt="Responsive image" style="width: 400px; height: 400px">
                                             </div>
                                             <div class="product-details">
                                                  <h6>
                                                       @prod.name
                                                  </h6>
                                                  <div class="price">
                                                       <h6>@prod.price</h6>
                                                  </div>
                                                  <div class="prd-bottom">

                                                       <a href="" class="social-info">
                                                            <span class="ti-bag"></span>
                                                            <p class="hover-text">add to cart</p>
                                                       </a>
                                                       <a href="" class="social-info">
                                                            <span class="lnr lnr-heart"></span>
                                                            <p class="hover-text">Wishlist</p>
                                                       </a>
                                                       <a href="" class="social-info">
                                                            <span class="lnr lnr-sync"></span>
                                                            <p class="hover-text">compare</p>
                                                       </a>
                                                       
                                                            <button style="float: right" class="btn btn-primary btn-xs" name="btn" type="submit" value="@prod.id">
                                                                 View
                                                            </button>
                                                       
                                                  </div>
                                             </div>
                                        </div>


                                       
                                   }
                              }
                         }
                    </tbody>
               </table>
          </div>
     </div>
</div>

@section Scripts {
     @Scripts.Render("~/bundles/unobtrusive/js")

     <script type="text/javascript">
          function success(data) {
               if (data.RedirectUrl) {
                    window.location.href = data.RedirectUrl;
               } else {
                    $("#resultTarget").text(data.msg);
               }
          }

          function fail(data) {
               $("#resultTarget").text(data);
          }
     </script>
}
